/* Login.css */

.login-form-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  min-height: 100vh; /* 设置容器最小高度为视口高度 */
}

.login-form {
  width: 400px;
  padding: 20px; /* 添加内边距，使内容居中 */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
